.header {
  padding: 22px 0;
  &__gamburger {
    display: none;
  }
  &__cros {
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    min-width: 108px;
    height: 29px;
    border: transparent;
  }
  &__logo:hover {
    transform: scale(1.15);
    transition: 0.3s ease;
  }
}
@media only screen and (max-width: 375px) {
  .header__logo {
    min-width: 108px;
    height: 29px;
    margin-left: 110px;
  }
  .header__gamburger {
    display: block;
  }
  .header__cros {
    display: none;
  }
}
